<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script defer src="js/script.js"></script>
    <link rel="stylesheet" href="css/homepage.css">
    <title>ACNH: Turnip Prices Sharer </title>
    <link rel="shortcut icon" href="https://lh3.googleusercontent.com/VbtbQEN6LYoyRf0aZT4Nk6ZBm-4prO3T7tWdlboyLerJX8z_TPs__jz1rR6P3541mPM" type="image/x-icon">
</head>
<body>
    <div style="background:transparent !important" class="jumbotron text-center">
        <h2><%= data.server %></h2> <!--!important means will be last to show up if not overwritten-->
        <div class="brec"></div> <!--Border background rectangle for Header-->
    </div>
    <container>
        <row>
            <div class="col-xs-12 col-md-4 col-xl-4">
                <form action="index" method="POST" name="serverForm">
                    <input type="submit" id="submit" class="btn btn-success" value="Leave Server"  style="background-color: #F2EF89; color: black; margin-left: 147%; margin-top: -10%;">
                </form>
                <div class= info> 
                    <%- data.island_name %>
                    <br>
                    <%- data.prices %>
                    <br>
                    <%- data.dodo_code %> 
                </div>
            </div>
        </row>
    </container>
</body>
</html>